 <header class="h-32 w-full flex justify-center items-center">
      <div class="flex items-center justify-center border-b-2 border-l-2 border-r-2 h-32 w-3/4 shadow-lg shadow-white/20">
    <nav>
  <ul class="flex flex-row justify-center items-center h-20 rounded-4xl bg-radial from-[rgb(24,24,24)] to-[rgb(28,28,28)]">
    <li>
      <a class="nav-link flex items-center justify-center h-14 w-32 transition-transform duration-300 hover:scale-105" href="index.html">Home</a>
    </li>
    <li>
      <a class="nav-link flex items-center justify-center h-14 w-32 transition-transform duration-300 hover:scale-105" href="projects.html">Projects</a>
    </li>
    <li>
      <a class="nav-link flex items-center justify-center h-14 w-32 transition-transform duration-300 hover:scale-105" href="about.html">About me</a>
    </li>
  </ul>
  <div>
    <a></a>
  </div>
    </nav>
    </div>
  </header>